# لا تتابع ملف قاعدة البيانات


# لا تتابع مجلد الفيديوهات الكبيرة
static/videos_page/

# (ولو عندك مجلدات صور ضخمة ترجعها بعدين، زيدها هون)
static/images/
static/images_exame_*/
static/fotos_borden/
